@{
    ViewBag.Title = "Colunas";
}

<div class="row">
    <div class="title">Colunas</div>
    @Html.Raw(ViewBag.Tabelas)
    <input type="button" class="btn btn-primary parse-sql" style="margin-top: 10px;" id="enviar" value="Enviar">
</div>

@section scripts {

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <script>
        $(document).ready(function () { 
        let colunas = []

        $('#enviar').on('click', function () {
            $('#tb1 tbody td input').each(function (i) {
                if (this.checked == true) {
                    colunas.push(this.name);
                    }
                   
            })

            if (colunas.length == 0)
                colunas.push('*');

            console.log(colunas);
            location.href = "@Url.Content("~/Builder/Filtro?Tabela=" + @Request["Tabela"])&Colunas= " + JSON.stringify(colunas);
        });
        })
    </script>
}