@{
    ViewBag.Title = "Tabelas";
}

<div class="row">
    <div class="title"><h3>Tabelas Vertica</h3></div>
    @Html.Raw(ViewBag.Tabelas)
</div>


@* Usando Jquery Data Tables para carregar as tabelas com paginação e Busca *@

<link href="https://cdn.datatables.net/1.10.20/css/jquery.dataTables.min.css" rel="stylesheet" />
<link href="https://cdn.datatables.net/select/1.3.1/css/select.dataTables.min.css" rel="stylesheet" />
<link href="https://cdn.datatables.net/responsive/2.2.3/css/responsive.dataTables.min.css" rel="stylesheet" />


@section Scripts{
    <!-- JS -->
    <script src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/select/1.3.1/js/dataTables.select.min.js"></script>
    <script src="https://cdn.datatables.net/responsive/2.2.3/js/dataTables.responsive.min.js"></script>


    <script type="text/javascript">
        $(document).ready(function () {
            //Pega os dados do banco de dados para preencher o datatable
            var tableid = $("#tb1").DataTable({
                select: true,
                responsive: true,
                "language": {
                    "lengthMenu": "Exibe _MENU_ Registros por página",
                    "search": "Buscar tabela pelo nome:",
                    "paginate": { "previous": "Anterior", "next": "Próximo" },
                    "zeroRecords": "Nada foi encontrado",
                    "info": "Mostrando de _PAGE_ até _PAGES_ registros",
                    "infoEmpty": "Sem registros",
                    "infoFiltered": "(filtrado de _MAX_ regitros totais)"
                },
                "processing": true, // mostrar a progress bar
                "filter": true, // habilita o filtro(search box)
                "lengthMenu": [[3, 5, 10, 25, 50, -1], [3, 5, 10, 25, 50, "Todos"]],
                "pageLength": 10, // define o tamanho da página

            });
        });
    </script>
}

<!-- JS -->